# Токен группы (для LongPoll)
VK_GROUP_TOKEN=ваш_токен_группы

# Токен пользователя (для поиска людей)
VK_USER_TOKEN=ваш_пользовательский_токен

# Данные для подключения к БД (PostgreSQL)
DB_NAME=vkinder_db
DB_USER=postgres
DB_PASSWORD=mysecretpassword
DB_HOST=localhost
DB_PORT=5432